@import "../../css-variables.scss";

#services {
    flex: 1;
    height: 50%;
    overflow: auto;
}

#services .loading {
    height: 50%;
}

.selected {
    background-color: var(--content-highlight-color) !important;
}