@import "../../css-variables.scss";

#searchResultItem{
    margin-bottom: 1em;
    background-color: var(--content-highlight-color);
    color: white;
    font-family: var(--content-text-font);
    padding: 1em;
}